.featureList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 2rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2rem;
    background-color: #eee;
    gap: 1rem;
    border-radius: 0.5rem;
}

.icon {
    line-height: 2.4em;
    width: 2.4em;
    font-size: 1.2rem;
    text-align: center;
    background-color: #ddd;
    border-radius: 0.3em;
}

.title {
    font-size: 1.3rem;
}

.description {
    font-size: 1rem;
}